@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    Tutorial made by Andrei Ignat, <a href="http://msprogrammer.serviciipeweb.ro/" target="_blank">http://msprogrammer.serviciipeweb.ro/</a>
</p>
